body {
   background-color: rgb(0, 0, 0);
   color: white;
   padding: 0;
   margin: 0;
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.Banner
{
background:url("../Images/MyCutOutBackground.png");

 /* Full height */
 height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.BannerText
{
margin: 300px 0 0 250px;

}
.BannerText>h1
{
font-family:"Rubik","Arial",sans-serif;
color: rgb(255, 168, 6);

}

.BannerText>h2
{   
font-family:"Rubik","Arial",sans-serif;
color: rgb(241, 197, 156);
font-size: 1.2em;
font-variant: small-caps;
margin-top: 35px;
}



.HeaderBar
{
 padding-top: 10px;
display: flex;
justify-content:flex-end;
}
.HeaderBar>a {
   font-size: small;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-right: 2%;
   color: white;
   display: inline-block;
   width: 100px;
   padding: 5px;
   border-radius: 5px;
   /* border: 2px dashed; */
   text-align: center;
   font-weight: bolder;
}
.HeaderBar>a:hover {
   background-color:rgba(124, 124, 124, 0.356);
}
.Logo
{
   background-color: rgba(0, 0, 0);
  
}
.MiddlePanel {
   background-color: rgba(0, 0, 0);
  

}
.BottomPanel {
   background-color: rgb(48, 48, 48);
  
}

.socialLinksImages {
   padding: 2.5% 0% 0% 20%;
}

.socialLinksImages>a {
   margin: 5px;
}



#selected {
   background-color: rgb(33, 150, 243);
   border-radius: 5px;
   border: 2px;
}

.row {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: -webkit-box;
   display: -moz-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-flex: 0;
   -moz-flex: 0 1 auto;
   -ms-flex: 0 1 auto;
   flex: 0 1 auto;
   -webkit-box-direction: normal;
   -webkit-box-orient: horizontal;
   -moz-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
  
}

.Panel1 {
   width: 32%;
   min-height: 560px;
   text-align: center;
   border: 2px white solid;
   margin-left: 12%;
   margin-bottom:4%;
   border-radius: 5px;
   max-height: 300px;
   display: flex;
   flex-direction: column;
   background-position: center;
   background-size: cover;
}
.Panel2
{
   margin-top: 10vh;
   width: 32%;
   min-height: 560px;
   text-align: center;
   border: 2px white solid;
   margin-left: 12%;
   margin-bottom:4%;
   border-radius: 5px;
   max-height: 300px;
   display: flex;
   flex-direction: column;
   background-position: center;
   background-size: cover;
}


.panelHeading {
   font-size: larger;
   height: 20%;
}

.panelbody {
   size: inherit;
   height: 80%;
   color: rgb(33, 150, 243);
   display: flex;
}
.ExpandBttn
{
   background-color: transparent;
    border: 2px solid;
    color: #fff;
    border-radius: 40px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 12px;
    width: fit-content;
}


.circle {
   border: 1px solid #ccc;
   border-radius: 50%;
   background-color:transparent;
   width: 10px;
   height: 10px;
   padding:0px;
   margin-right: 10px;
   display: inline-block;
}
.circle:hover
{
   background-color:white;
}
.circle_active
{
   background-color:white;
}
.Blog_Panel {
   width: 17%;
   min-height: 300px;
   text-align: center;
   border: 2px white solid;
   margin-left: 2%;
   margin-bottom: 2%;
   border-radius: 5px;
   max-height: 300px;
   display: flex;
   flex-direction: column;
   background-position: center;
   background-size: cover;
}

.Blog_Panel:hover {
   
   transform:scale(1.1);
   border-color: rgb(50, 150, 243);
}
.Blog_panelHeading {
  color: white;
   font-size: larger;
   height: 100%;
   text-decoration: none;
   text-align:end;
}
.Blog_panelHeading:hover {
  
  color: black;
}
